<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="{:C(WEB_SITE_DESCRIPTION)}">

	<meta name="keywords" content="{:C(WEB_SITE_KEYWORD)}" />
	<meta name="baidu-site-verification" content="n6C6bsr7CA" />
        <meta name="author" content="RL">

        <title>{:C(WEB_SITE_TITLE)}</title>

        <!-- Mobile Specific Meta
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="__IMG__/favicon.png" />

        <!-- CSS
        ================================================== -->
        <!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
        <!-- Animate.css -->
        <link rel="stylesheet" href="__CSS__/animate.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="__CSS__/owl.carousel.css">
        <!-- Grid Component css -->
        <link rel="stylesheet" href="__CSS__/component.css">
        <!-- Slit Slider css -->
        <link rel="stylesheet" href="__CSS__/slit-slider.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="__CSS__/main.css">
        <!-- Media Queries -->
        <link rel="stylesheet" href="__CSS__/media-queries.css">

        <!--
        Google Font
        =========================== -->                    

        <!-- Oswald / Title Font -->
        <link href='__CSS__/Oswald.fonts.useso.com.css' rel='stylesheet' type='text/css'>
        <!-- Ubuntu / Body Font -->
        <link href='__CSS__/Ubuntu.fonts.useso.com.css' rel='stylesheet' type='text/css'>

        <!-- Modernizer Script for old Browsers -->		
        <script src="__JS__/modernizr-2.6.2.min.js"></script>

        <!-- online -->
        <style>
        a,img{border:0;}
        /* side */
        .side{position:fixed;width:54px;height:275px;right:0;top:350px;z-index:100;}
        .side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;}
        .side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#2B2C30;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
        .side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#2B2C30;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
        .side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
        .side ul li img{float:left;}
        </style>
        <!-- /online -->

        <style type="text/css">
            .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
            .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
        </style>

    </head>

    <body id="body">
        <!--
        Start Preloader
        ==================================== -->
        <div id="loading-mask">
            <div class="loading-img">
                <img alt="Meghna Preloader" src="__IMG__/preloader.gif"  />
            </div>
        </div>
        <!--End Preloader==================================== -->


        <!--/#home section-->

        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <a class="navbar-brand" href="#body">
                        <h1 id="logo">
                            <img src="__IMG__/logo-meghna.png" alt="Meghna" />
                        </h1>
                    </a>
                    <!-- /logo -->
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">主页</a></li>
                        <li><a href="#services">服务内容</a></li>
                        <li><a href="#showcase">作品展示</a></li>
                        <li><a href="#our-team">团队介绍</a></li>
                        <li><a href="#about">关于我们</a></li>
                        <li><a href="#contact-us">联系我们</a></li>
                    </ul>
                </nav>
                <!-- /main nav -->

            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->

        
        <!--
        Start Main Features
        ==================================== -->
        <section id="main-features">
            <div class="container">
                <div class="row">

                    <!-- features item -->
                    <div id="features">
                        <div class="item">

                            <div class="features-item">

                                 <!-- features media -->
                                <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                                    <img src="__IMG__/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                                </div>
                                <!-- /features media -->

                                <!-- features content -->
                                <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <h3>速虎前沿</h3>
                                    <p>速虎前沿工作室专业从事软件程序开发等工作多年，历来秉承诚信做事之理念，在不停地扩展软件功能的道路上力争精益求精，具有独到的创意和丰富的经验，我们能为您提供最完美的产品以及售后和技术服务。</p>
                                    <p>承接软件定制开发，我们期待与您携手共创辉煌明天。成功既有我们的艰苦劳动，更离不开广大用户的支持和鼓励，在此真诚地向广大用户表示最衷心的感谢！希望你们一如既往地支持我们，使我们的软件开发能健康地向前发展。</p>
                                    <a href="#" class="btn btn-transparent">更多</a>
                                </div>
                                <!-- /features content -->

                            </div>
                        </div>

                        <div class="item">
                            <div class="features-item">

                                <!-- features media -->
                                <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                                    <img src="__IMG__/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                                </div>
                                <!-- /features media -->

                                <!-- features content -->
                                <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <h3>Main Features of Meghna</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
                                    <a href="#" class="btn btn-transparent">Learn More</a>
                                    <a href="#" class="btn btn-transparent">Purchase Theme</a>
                                </div>
                                <!-- /features content -->

                            </div>
                        </div>
                    </div>
                    <!-- /features item -->

                </div> 		<!-- End row -->
            </div>   	<!-- End container -->
        </section>   <!-- End section -->
        
        
        <!-- Start Services Section
        ==================================== -->
        <section id="services" class="bg-one">
            <div class="container">
                <div class="row">

                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                        <h2>服务 <span class="color">内容</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->

                    <!-- Single Service Item -->
                    <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                        <div class="service-block text-center">
                            <div class="service-icon text-center">
                                <i class="fa fa-desktop fa-5x"></i>
                            </div>
                            <h3>网页设计</h3>
                            <p>网页设计是根据企业希望向浏览者传递的信息，进行网站功能策划、页面设计美化工作。精美的网页设计，对于提升企业的互联网品牌形象至关重要。</p>
                        </div>
                    </article>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
                    <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="service-block text-center">
                            <div class="service-icon text-center">
                                <i class="fa fa-wordpress fa-5x"></i>
                            </div>
                            <h3>WAP开发</h3>
                            <p>手机网站是专门用于各类型手机、各种网速环境，都能流畅访问的网站，是专给手指使用的。实用的WAP设计，能大大增加企业移动访问流量。</p>
                        </div>
                    </article>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
                    <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                        <div class="service-block text-center">
                            <div class="service-icon text-center">
                                <i class="fa fa-mobile fa-5x"></i>
                            </div>
                            <h3>APP开发</h3>
                            <p>APP开发是指在手机等智能移动设备上运行的应用软件，由于操作系统的不同，分为Android和Ios，专为使用移动设备用户而设计开发。</p>
                        </div>
                    </article>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
                    <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="service-block text-center">
                            <div class="service-icon text-center">
                                <i class="fa fa-wechat fa-5x"></i>
                            </div>
                            <h3>微信开发</h3>
                            <p>微信开发是指微信订阅号、微信服务号、微信企业号，打造一个微信的公众号，并实现和特定群体的文字、图片、语音的全方位沟通、互动。</p>
                        </div>
                    </article>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
                    <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                        <div class="service-block text-center">
                            <div class="service-icon text-center">
                                <i class="fa fa-android fa-5x"></i>
                            </div>
                            <h3>二次开发</h3>
                            <p>二次开发，简单的说就是在现有的软件上进行定制修改，功能的扩展，然后达到自己想要的功能，一般来说都不会改变原有系统的内核。</p>
                        </div>
                    </article>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
                    <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="service-block text-center kill-margin-bottom">
                            <div class="service-icon text-center">
                                <i class="fa fa-windows fa-5x"></i>
                            </div>
                            <h3>网站建设</h3>
                            <p>网站建设是指使用标识语言，通过一系列设计、建模、和执行的过程将电子格式的信息通过互联网传输，最终以图形用户界面的形式被用户所浏览。</p>
                        </div>
                    </article>
                    <!-- End Single Service Item -->

                </div> 		<!-- End row -->
            </div>   	<!-- End container -->
        </section>   <!-- End section -->


        <!-- Start Portfolio Section
        =========================================== -->
        <section id="showcase">
            <div class="container">
                <div class="row wow fadeInDown" data-wow-duration="500ms">
                    <div class="col-lg-12">

                        <!-- section title -->
                        <div class="title text-center">
                            <h2>作品 <span class="color">展示</span></h2>
                            <div class="border"></div>
                        </div>
                        <!-- /section title -->

                        <!-- portfolio item filtering -->
                        <div class="portfolio-filter clearfix">
                            <ul class="text-center">
                                <RL:select sql="select * from th_category order by sort" limit="10">
                                    <if condition="$r.name eq 'all'">
                                            <li><a href="javascript:void(0)" class="filter" data-filter="{$r.name}">{$r.title}</a></li>
                                        <else/>
                                            <li><a href="javascript:void(0)" class="filter" data-filter=".{$r.name}">{$r.title}</a></li>
                                    </if>
                                </RL:select>
                            </ul>
                        </div>
                        <!-- /portfolio item filtering -->

                    </div> <!-- /end col-lg-12 -->
                </div> <!-- end row -->
            </div>	<!-- end container -->

            <!-- portfolio items -->
            <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
                <ul id="og-grid" class="og-grid">

                    <RL:select sql="select *,th_category.name as c_name,th_document.description as descriptio,th_document.link_id as link_id  from th_document join th_document_article on th_document.id = th_document_article.id join th_category on th_document.category_id = th_category.id">
                        <!-- single portfolio item -->	
                        <li class="mix {$r.c_name}">
                            <a href="{$r.link_id|get_link='url'}" data-largesrc="{$r.cover_id|get_cover='path'}" data-title="{$r.title}" data-description="{$r.description}">
                                <img src="{$r.cover_id|get_cover='path'}" alt="{$r.title}" width="650px" height="520px">
                                <div class="hover-mask">
                                    <h3>{$r.title}</h3>
                                    <span>
                                        <i class="fa fa-plus fa-2x"></i>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <!-- /single portfolio item -->
                        
                    </RL:select>
                    
                    
                    

                </ul> <!-- end og grid -->
            </div>  <!-- portfolio items wrapper -->

        </section>   <!-- End section -->


        <!-- Start Our Team
        =========================================== -->
        <section id="our-team">
            <div class="container">
                <div class="row">

                    <!-- section title -->
                    <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                        <h2>我们 <span class="color">团队</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->

                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                        <article class="team-mate">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="__IMG__/team/member-1.jpg" alt="Meghna">
                                <!-- /member photo -->

                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>

                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>李瑞</h3>
                                <span>资深网络工程师</span>
                            </div>
                            <!-- /member name & designation -->

                            <!-- about member -->
                            <div class="member-info">
                                <p>从事多年的网站开发,具有深厚的经验，精通PHP，JAVA，Android，微信等开发</p>
                            </div>
                            <!-- /about member -->

                        </article>
                    </div>
                    <!-- end team member -->

                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                        <article class="team-mate">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="__IMG__/team/member-1.jpg" alt="Meghna">
                                <!-- /member photo -->

                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>

                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>郑晓楠</h3>
                                <span>网页美工</span>
                            </div>
                            <!-- /member name & designation -->

                            <!-- about member -->
                            <div class="member-info">
                                <p>毕业于美术院校，从事多年的网页美工，精通网页设计、网页前端开发和企业建站</p>
                            </div>
                            <!-- /about member -->
                        </article>
                    </div>
                    <!-- end team member -->

                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                        <article class="team-mate">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="__IMG__/team/member-1.jpg" alt="Meghna">
                                <!-- /member photo -->

                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>

                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>王强</h3>
                                <span>SEO优化</span>
                            </div>
                            <!-- /member name & designation -->

                            <!-- about member -->
                            <div class="member-info">
                                <p>多年从事SEO优化，百度排名，搜狗排名，网站的维护，产品推广等相关的工作，具有丰富的经验</p>
                            </div>
                            <!-- /about member -->
                        </article>
                    </div>
                    <!-- end team member -->

                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        <article class="team-mate kill-margin-bottom">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="__IMG__/team/member-1.jpg" alt="Meghna">
                                <!-- /member photo -->

                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>

                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>李伟</h3>
                                <span>APP开发</span>
                            </div>
                            <!-- /member name & designation -->

                            <!-- about member -->
                            <div class="member-info">
                                <p>多年从事APP开发工作，熟悉ANDROID和IOS，以及混合APP的开发，是一个经验丰富的程序员。</p>
                            </div>
                            <!-- /about member -->
                        </article>
                    </div>
                    <!-- end team member -->

                </div>  	<!-- End row -->
            </div>   	<!-- End container -->
        </section>   <!-- End section -->

        
        <!--
        Start About Section
        ==================================== -->
        <section id="about" class="bg-one">
            <div class="container">
                <div class="row">

                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                        <h2>关于 <span class="color">我们</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->

                    <!-- About item -->
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
                        <div class="wrap-about">							
                            <div class="icon-box">
                                <i class="fa fa-lightbulb-o fa-4x"></i>
                            </div>					
                            <!-- Express About Yourself -->
                            <div class="about-content text-center">
                                <h3 class="ddd">我们的速度</h3>								
                                <p>策划快、设计快、开发快、上线快</p>
                            </div>
                        </div>
                    </div> 
                    <!-- End About item -->

                    <!-- About item -->
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                        <div class="wrap-about">
                            <div class="icon-box">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <!-- Express About Yourself -->
                            <div class="about-content text-center">
                                <h3>我们的品质</h3>
                                <p>听懂客户，拿出策略，做出选择，思路决定出路</p>
                            </div>
                        </div>
                    </div> 
                    <!-- End About item -->

                    <!-- About item -->					
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                        <div class="wrap-about kill-margin-bottom">
                            <div class="icon-box">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <!-- Express About Yourself -->
                            <div class="about-content text-center">
                                <h3>我们的专业</h3>
                                <p>专注设计，专心开发</p>
                            </div>
                        </div>
                    </div> 
                    <!-- End About item -->

                </div> 		<!-- End row -->
            </div>   	<!-- End container -->
        </section>   <!-- End section -->

        
        <!-- Google Map -->
        <div class="wow fadeInDown" data-wow-duration="500ms">
            <div style="width:100%;height:600px;border:#ccc solid 1px;" id="dituContent"></div>
        </div>	
        <!-- /Google Map -->
        

        <!-- Srart Contact Us
        =========================================== -->		
        <section id="contact-us">
            <div class="container">
                <div class="row">

                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                        <h2>联系 <span class="color">我们</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->

                    <!-- Contact Details -->
                    <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                        <h3>联系方式</h3>
                        <p>如果您有任何网站开发的需要和疑问，请及时联系我们！！！我们尽快为您服务。</p>
                        <div class="contact-details">
                            <div class="con-info clearfix">
                                <i class="fa fa-home fa-lg"></i>
                                <span>四川省绵阳市高新区温州商贸128号</span>
                            </div>

                            <div class="con-info clearfix">
                                <i class="fa fa-phone fa-lg"></i>
                                <span>Phone: 13281563075</span>
                            </div>

                            <div class="con-info clearfix">
                                <i class="fa fa-envelope fa-lg"></i>
                                <span>Email: 2080775740@qq.com</span>
                            </div>
                        </div>
                    </div>
                    <!-- / End Contact Details -->

                    <!-- Contact Form -->
                    <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <form id="contact-form" method="post" action="sendmail.php" role="form">

                            <div class="form-group">
                                <input type="text" placeholder="你的姓名" class="form-control" name="name" id="name">
                            </div>

                            <div class="form-group">
                                <input type="email" placeholder="你的邮箱" class="form-control" name="email" id="email">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="联系方式" class="form-control" name="mobile" id="mobile">
                            </div>
                            
                            <div class="form-group">
                                <input type="text" placeholder="标题" class="form-control" name="subject" id="subject">
                            </div>

                            <div class="form-group">
                                <textarea rows="6" placeholder="内容" class="form-control" name="message" id="message"></textarea>	
                            </div>

                            <div id="mail-success" class="success">
                                Thank you. The Mailman is on His Way :)
                            </div>

                            <div id="mail-fail" class="error">
                                Sorry, don't know what happened. Try later :(
                            </div>

                            <div id="cf-submit">
                                <input type="submit" id="contact-submit" class="btn btn-transparent" value="提交">
                            </div>						

                        </form>
                    </div>
                    <!-- ./End Contact Form -->

                </div> <!-- end row -->
            </div> <!-- end container -->


        </section> <!-- end section -->
        
        

        <!-- end Contact Area
        ========================================== -->
        <footer id="footer" class="bg-one">
            <div class="container">
                <div class="row wow fadeInUp" data-wow-duration="500ms">
                    <div class="col-lg-12">

                        <!-- Footer Social Links -->
                        <div class="social-icon">
                            <ul>
                                <li><a href="http://www.qq.com/"><i class="fa fa-qq"></i></a></li>
                                <li><a href="http://www.wechat.com/"><i class="fa fa-weixin"></i></a></li>
                                <li><a href="http://weibo.com/"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="http://www.renren.com/"><i class="fa fa-renren"></i></a></li>
                                <li><a href="http://www.renren.com/"><i class="fa fa-github-alt"></i></a></li>
                                <li><a href="http://www.renren.com/"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <!--/. End Footer Social Links -->

                        <!-- copyright -->
                        <div class="copyright text-center">
                            <a href="index.html">
                                <img src="__IMG__/logo.png" alt="Meghna" /> 
                            </a>
                            <br />

                            <p>速虎前沿科技有限公司版权所有 Copyright&copy;2012-2015 <a href="http://www.thooh.com">http://www.thooh.com</a> All Rights Reserved </p>
                        </div>
                        <!-- /copyright -->

                    </div> <!-- end col lg 12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer> <!-- end footer -->

        <!-- Back to Top
        ============================== -->
        <a href="javascript:;" id="scrollUp">
            <i class="fa fa-angle-up fa-2x"></i>
        </a>

        <!-- end Footer Area
        ========================================== -->

        
        <!-- 代码部分begin -->
    <div class="side">
        <ul>
          <li><a href="tencent://message/?uin=2943912502&Site=www.thooh.com&Menu=yes" ><div class="sidebox"><img src="__IMG__/qq.png">QQ客服</div></a></li>
          <li><a href="tencent://message/?uin=2943912502&Site=www.thooh.com&Menu=yes" ><div class="sidebox"><img src="__IMG__/qq.png">QQ客服</div></a></li>
          <li><a href="javascript:void(0);" ><div class="sidebox"><img src="__IMG__/sina.png">新浪微博</div></a></li>
      </ul>
    </div>
    <!-- 代码部分end -->
        
        
        <!-- 
        Essential Scripts
        =====================================-->

        <!-- Main jQuery -->
        <script src="__JS__/jquery-1.11.0.min.js"></script>
        <!-- Bootstrap 3.1 -->
        <script src="__JS__/bootstrap.min.js"></script>
        <!-- Slitslider -->
        <script src="__JS__/jquery.slitslider.js"></script>
        <script src="__JS__/jquery.ba-cond.min.js"></script>
        <!-- Parallax -->
        <script src="__JS__/jquery.parallax-1.1.3.js"></script>
        <!-- Owl Carousel -->
        <script src="__JS__/owl.carousel.min.js"></script>
        <!-- Portfolio Filtering -->
        <script src="__JS__/jquery.mixitup.min.js"></script>
        <!-- Custom Scrollbar -->
        <script src="__JS__/jquery.nicescroll.min.js"></script>
        <!-- Jappear js -->
        <script src="__JS__/jquery.appear.js"></script>
        <!-- Pie Chart -->
        <script src="__JS__/easyPieChart.js"></script>
        <!-- jQuery Easing -->
        <script src="__JS__/jquery.easing-1.3.pack.js"></script>
        <!-- tweetie.min -->
        <!--<script src="__JS__/tweetie.min.js"></script>-->
        <!-- Google Map API -->

        <!-- Highlight menu item -->
        <script src="__JS__/jquery.nav.js"></script>
        <!-- Sticky Nav -->
        <script src="__JS__/jquery.sticky.js"></script>
        <!-- Number Counter Script -->
        <script src="__JS__/jquery.countTo.js"></script>
        <!-- wow.min Script -->
        <script src="__JS__/wow.min.js"></script>
        <!-- For video responsive -->
        <script src="__JS__/jquery.fitvids.js"></script>
        <!-- Grid js -->
        <script src="__JS__/grid.js"></script>
        <!-- Custom js -->
        <script src="__JS__/custom.js"></script>

        <!--引用百度地图API-->
        <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
        
       
        
        <script type="text/javascript">
            
             <!-- online -->
            $(function(){
                    $(".side ul li").hover(function(){
                            $(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
                    },function(){
                            $(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#2B2C30"})	
                    });
            });
        <!-- /online -->
            
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(104.67041,31.473211);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_PAN});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"速虎前沿",content:"绵阳市高新区温州商贸广场128号",point:"104.671869|31.473158",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

    </body>
</html>